.row
  .col-lg-12
    .well
      %fieldset
        .input-group
          %input#inputDefault.form-control{ type: 'text', name: 'url', placeholder: @placeholder }
          %span.input-group-btn
            %input.btn.btn-default{ type: 'button', value: 'Submit' }

.row
  .col-lg-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        = haml :tablelist

      %tbody#sociallist

      %tfoot
        = haml :tablelist

:javascript
  $(function() {
    var addLink = function(link) {
      $.post(
        '/',
        { url : link },
        function(data) {
          $('#sociallist').prepend(data);
        }
      );
    }

    addLink(location.href);

    $('.btn').click(function() {
      $.post(
        '/parse',
        { url : $('#inputDefault').val() },
        function(urls) {
          for(var i in urls) {
            addLink(urls[i]);
          }
        }
      );
    });
  });
