.row
  .col-lg-12
    .well
      %fieldset
        .input-group
          %input#inputDefault.form-control{ type: 'text', name: 'url', placeholder: @placeholder }
          %span.input-group-btn
            %input.btn.btn-default{ type: 'button', value: 'Submit' }

.row
  .col-lg-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        = haml :tablelist

      %tbody#sociallist

      %tfoot
        = haml :tablelist

:javascript
  $(function() {
    $('.btn').click(function() {
      $.post(
        '/',
        { url : $('#inputDefault').val() },
      function(data) {
        $('#sociallist').append(data);
      })
    });
  });
