.row
  .col-lg-12
    .well
      %fieldset
        .input-group
          %input#inputDefault.form-control{ type: 'text', name: 'url', placeholder: @placeholder }
          %span.input-group-btn
            %input.btn.btn-default{ type: 'button', value: 'Submit' }

.row
  .col-lg-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        = haml :tablelist

      %tbody#sociallist

      %tfoot
        = haml :tablelist

:javascript
  //google.load("feeds", "1");
  $(function() {
    function addLink(link) {
      $.post(
        '/',
        { url : link },
        function(data) {
          $('#sociallist').prepend(data);
        }
      );
    }

    addLink(location.href);

    $('.btn').click(function() {
      addLink($('#inputDefault').val());

      //google.setOnLoadCallback(function () {
      //  var feed = new google.feeds.Feed($('#inputDefault').val());
      //  feed.load(function (result){
      //    if (!result.error) {
      //      for (var i = 0; i < result.feed.entries.length; i++) {
      //        addLink(result.feed.entries[i].link);
      //      }
      //    } else {
      //      addLink($('#inputDefault').val());
      //    }
      //  });
      //});

    });
  });
