!!!
%html
  %head
    %title Social Metrics App
    %link{ rel: 'stylesheet', href: '//bootswatch.com/flatly/bootstrap.min.css' }
    %script{src: '//b.st-hatena.com/js/bookmark_button.js'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}

  %body
    %a{ href: 'https://github.com/soramugi/social-metrics-app' }
      %img{ style: 'z-index: 9999;position: absolute; top: 0; right: 0; border: 0;', src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt: 'Fork me on GitHub' }

    .container
      %h1 Social Metrics App
      =yield
      %hr
      %footer
        %p
          ネタ元 :
        %p
          %a{ href: 'http://wordpress.org/plugins/social-metrics/'}
            WordPress › Social Metrics « WordPress Plugins
        %p
          %a{ href: 'http://nob-log.info/2013/04/25/social-metrics-add-pocket/'}
            Social Metricsを使ってポケットされた数のリストがわかるようにしてみた

:css
  body{
    margin-top: 50px;
  }
  #loading{
    display: none;
  }

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43044942-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
